body {
    font-family: 'Roboto', sans-serif;
    margin: 1em;
    background-color: #FFF9F4;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

.login {
    margin-top: 5em;
}

label {
    font-size: 20px;
    font-weight: 500;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

/* BUTTON CSS */

.buttons {
    display: block;
    margin-left: 1.5em;
}

.login__position {
    margin-bottom: 2em;
}

button {
    height: 55px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 1em;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    width: 300px;
    box-shadow: 0px 5px #92A69C;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: #B3CBBF;
}

.button__text,
.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 18px;
    height: 100%;
}

.logingoogle {
    display: inline-flex;
    margin-top: 2em;
    background-color: #FF5151;
    border-radius: 1em;
    color: white;
    box-shadow: 0px 5px #D14242;
    margin-left: auto;
}

.loginfacebook {
    display: inline-flex;
    margin-top: 2em;
    background-color: #4495FF;
    border-radius: 1em;
    color: white;
    box-shadow: 0px 5px #377AD1;
}

p {
    position: relative;
    top: 1em;
    text-align: center;
}