body {
  font-family: "Roboto", sans-serif;
  background-color: #fff9f4;
  margin: 0%;
}

header {
  background-color: #e3c4bc;
  margin: 0%;
  text-align: center;
  color: white;
  border-radius: 0px 0px 30px 30px;
  height: 6em;
}

/* Main */

h1 {
  text-align: center;
  padding: 1.5em;
  margin-top: 0%;
}

main {
  padding: 2em;
}

.main__calendar {
  box-shadow: 5px 5px #c4b5b1;
  border-radius: 30px 30px 30px 30px;
  padding: 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  color: red;
  text-align: center;
  margin: 10px;
}

h3 {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.time {
  margin-top: 1em;
}

.main__title {
  background-color: #e3c4bc;
  margin-top: 1em;
  display: flex;
  height: 2em;
  border-radius: 20px 20px 0px 0px;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 5px 0px #c4b5b1;
}

.icon {
  max-width: 50%;
  max-height: 50%;
  margin-top: 5px;
}

.main__title--text {
  margin: 0%;
  margin-top: 5px;
}

.main__draft {
  box-shadow: 5px 5px #c4b5b1;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  margin: 0px;
}

.main__draft--text {
  margin: 0%;
  opacity: 50%;
}

/* Footer */

footer {
  background-color: #e3c4bc;
  color: white;
  padding: 1em;
}

.footer__img {
  display: flex;
  justify-content: space-evenly;
  height: 37px;
}

.footer__text {
  display: flex;
  justify-content: space-evenly;
  margin: 0%;
}

.footer__text--position {
  margin: 0%;
  margin-top: 3px;
}
